
html, body {
  height:100%;
  font-size: 1rem;
  background: black;
}

input.form-control {
    font-family: FontAwesome, "Lato", Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

p {
  font-size: 1rem;
}

.navbar.navbar-inverse.landing.navbar-fixed-top {

}

.container.full {
    height:93.5%;
    margin: 0;
    width: 100%;
    padding: 0;
}

.fill{
    width:100%;
    height:95vh;
    min-height:100%;
    background-color:#616161;
    padding:10px;
    color:#fff;
}

.fill.first {
    margin-top: 64px;
}

.gap {
    width:100%;
    background-color:#222;
    padding: 5%;
    color:#fff;
}

.gap.one .marketing-content {
  margin: 0;
}

.fill.one {
  background-image: url("../images/1.jpg");
  background-size: cover;
  background-position-x: right;
}

.fill.one.plan {

  background-image: url("../images/3.jpg");
  background-size: cover;
  background-position-x: left;
}

.fill.one.card {
  background-image: url("../images/2.jpg");
  background-size: cover;
  background-position-x: right;
}

.marketing-content {
  /* margin: 10%; */
  text-align: center;
}

h1 {
  color: #fff;
  font-size: 2.5rem;
}

.header-step {
  padding-top: 25%;
  color: #f5971f;
  font-size: 4rem;
}

.header-step {
  color: #f5971f;
  font-size: 4rem;
}

.header {
  color: #f5971f;
  font-size: 5rem;
  margin-bottom: 10%;
}

.navbar-right {
  margin-right: 0;
}

.btn.cta {
  background-color: #ff9800;
  font-size: 1rem;
  margin: 3% 0 0 0;
}

@media (max-width: 1200px), (max-height: 600px){

  /*-- Font Sizes --*/

  h1 {
    font-size: 3rem;
  }

  .header-step {
    font-size: 4rem;
  }

  p {
    font-size: 1.1rem;
  }

  .fill {
    height: auto;
    min-height: auto;
    padding-bottom: 10%;
  }

  .fill.one {

  }

  p {
    max-width: 100%;
  }

  .btn.cta {
    width: 60%;
    background-color: #ff9800;
    font-size: 1.1rem;
    float: left;
    margin: 1% 0 0 20%;
  }



}


@media (max-width: 600px) {

  /*-- Font Sizes --*/

  h1 {
    font-size: 2rem;
  }

  .header-step {
    font-size: 2.5rem;
    padding: 0;
    margin-top: 35%;
  }

  p {
    font-size: 0.8rem;
  }

  .fill {
    height: auto;
    min-height: auto;
    padding-bottom: 10%;
  }

  p {
    max-width: 100%;
  }

  .btn.cta {
    width: 95%;
    background-color: #ff9800;
    font-size: 0.8rem;
    float: left;
    margin: 1% 0 0 0;
  }


}
